<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/gestionInventario/style/style.css" media="screen" />
</head>
<body>
  
  <div class="nav">
    <div class="logo">
    </div>
    <div class="enlaces">
    <ul>
      <li><a href="/gestionInventario/templates/productos.html">Productos</a></li>
     
      <li><a href="/gestionInventario/templates/ventas.html">Ventas</a></li>
      
      <li><a href="/gestionInventario/templates/index.html">Inicio</a></li>
     </ul>
    </div>    
  </div>

 <div class="principal">
   <div class="containerFondo">
    <div class="fondoWellcome">

    </div>
  </div>
   
 </div>
</body>
</html>